#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

body {
  height: 100vh;
  width: 100%;
  font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-color: #6899c1;
  border-width: 3px;
}

hr.light {
  border-color: #FFF;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

@media (min-width: 768px) {
  #header {
    height: 100vh;
  }
}

#header {
  position: relative;
  width: 100%;
  min-height: auto;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../public/images/display.jpg);
  text-align: center;
  color: #FFF;
  border: none;
}

#header .header-content {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 50% 15px 100px;
}

#header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

#header .header-content .header-content-inner hr {
  margin: 30px auto;
}

#header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}

#header .header-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 50px;
}

#header .header-content .header-content-inner {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#header .header-content .header-content-inner h1 {
  font-size: 50px;
}

#header .header-content .header-content-inner p {
  font-size: 18px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.about {
  text-align: justify;
  padding: 5px;
}

.about img {
  max-height: 50vh;
  max-width: 30vw;
  float: left;
  margin-bottom: 5px;
  margin-right: 15px;
  border-radius: 10px;
}

.about span {
  display: block;
  margin-bottom: 10px;
}

.about:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.bg-dark {
  background-color: #222;
  color: #FFF;
}

.bg-primary {
  background-color: #6899c1;
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
}

.btn-default {
  color: #222;
  background-color: #FFF;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  border-color: #FFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #222;
  background-color: #f2f2f2;
  border-color: #ededed;
}

.btn-primary {
  color: #FFF;
  background-color: #6899c1;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  border-color: #6899c1;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #FFF;
  background-color: #518cba;
  outline: none;
  border-color: #518cba;
}

.btn-xl {
  padding: 15px 30px;
}

.capitalize {
  text-transform: capitalize;
}

.cityCountry {
  font-size: .8em;
}

.container {
  min-height: 100%;
  margin: 0 auto;
}

.list-group-item {
  background: #FBFBFC;
  border-radius: 0;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

.locationGrid p {
  font-size: .9em;
  margin-bottom: 0;
}

.no-padding {
  padding: 0;
}

.padded-top {
  padding-top: 50px;
}

.section-heading {
  margin-top: 0;
}

.selectable p {
  margin-top: 7px;
}

.selectable:hover {
  background-color: #e2e2e2;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.text-primary {
  color: #6899c1;
}

.thumbnail {
  font-family: Raleway;
  background-color: #fcfcfc;
}

.thumbnail img {
  object-fit: cover;
  padding-top: 15px;
  height: 300px;
  width: 500px;
}

.thumbnail:hover {
  background-color: #FFF;
}

.type-header {
  background: #6899c1;
  color: #FFF;
  margin: 0 auto;
}

.well {
  margin: 0 30px;
}

@media (min-width: 768px) {
  .view {
    width: 100%;
    max-width: 70vw;
    margin: 0 auto;
  }
}