// body {
//   background-image: url("./images/display.jpg");
//   background-position: center top;
//   background-size: 100% auto;
//   font-family: 'Sintony', sans-serif;
// }

.navbar {
  border-radius: 0px;
  padding: 0;
}

.App {
  text-align: center;
}

