.footer {
	background-color: #6899c1;
	padding: 5px 0;
}

.footer h2 {
	color:  white;
	font-size: 26px;
	margin-bottom: 5px;
}

.footer h2 span {
	color:  #3976d3;
}

.footer h3 {
	color: white;
}

.footer li {
	display: inline-block;
	margin: 0 10px;
}

.footer a {
	color:  #33383b;
}

.footer a:hover {
	color:  white;
}

.footer .footer-icons {
	margin: 25px auto;
}

.footer .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer .footer-icons a:hover {
	color: #6899c1;
}